::selection {
  background-color: rgb(79, 120, 255);
  color: white;
}

::-moz-selection {
  background-color: rgb(79, 120, 255);
  color: white;
}

::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
  width: 7.5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0);
  width: 7.5px;
  border-radius: 5px;
}

#config-data:hover::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.75);
}

#file-data:hover::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.75);
}

#annotation-data:hover::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.75);
}

.dropdown {
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #1A1E24;
  color: #1A1E24;
  outline: none;
}

.container {
  display: flex;
}

.item {
  margin-top: 1%;
  padding: 2%;
}

.item-1 {
  flex-grow: 1;
  max-width: 20%;
}

.item-2 {
  flex-grow: 2;
  max-width: 49.5%;
}

#config-data {
  overflow-y: scroll;
  max-height: 80vh;
}

#file-data {
  line-height: 1.5em;
  white-space: pre-wrap;
}

.annotation {
  border-radius: 2px;
  padding: 5px;
}

/*
.annotation-category {
  font-size: 9px;
  font-weight: bold;
  margin-left: 5px;
  text-transform: uppercase;
}
*/

.displayedAnnotation {
  margin: 4% 1%;
  cursor: pointer;
}

.collapsible {
  margin-bottom: 0px;
}

.content {
  padding: 0 12px;
  font-size: 16px;
  margin: 0 1% 4% 1%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #E7E5E5;
  color: black;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.annotation-attribute {
  margin-top: 10px;
}

.config-value-row {
  margin-bottom: 8px;
}

.config-label {
  border-radius: 2px;
  padding: 2px 5px;
  color: #1A1E24;
  cursor: pointer;
}

.config-label:hover {
  filter: brightness(105%);
}

input[type=radio] {
  display: none;
}

#annotation-suggestions {
  margin-bottom: 25px;
}

.input-field {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #1A1E24;
  color: #1A1E24;
}

#match-list {
  margin-bottom: 5px;
}

#search-list {
  margin-bottom: 5px;
}

.main-button {
  border-radius: 2px;
  color: #1A1E24;
  padding: 5px;
  margin-top: 5px;
  outline: none;
  border: none;
  font-weight: bold;
}

.main-button:hover {
  filter: brightness(105%);
}

.green-button {
  background-color: #33FFB5;
}

.gray-button {
  background-color: rgb(196, 196, 196);
}

.red-button {
  background-color: rgb(255, 108, 108);
}

.annotation-icon {
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  float: right;
}

.annotation-icon:hover {
  filter: brightness(105%);
}

.edit-icon {
  color: rgb(160, 160, 160);
}

.delete-icon {
  color: rgb(255, 117, 117);
}