.container {
    display:flex;
}

.item {
    margin-top:3.5%;
}

.item-1 {
    flex-grow:1;
    max-width:20%;
}

.item-2 {
    flex-grow:2;
    max-width:47.5%;
}

.btn {
    background-color:rgb(210, 210, 210);
    margin-bottom:2%;
    padding:2.5%;
    color:#666;
    border-radius:5px;
    font-weight:bold;
    border:none;
    font-size:0.75em;
    font-family:"Nunito";
    outline:0px solid transparent;
}

.standard-text {
    font-size:1.2em;
    font-family:"Nunito";
}

#config_data {
    margin-left:2.5%;
}

#file_data {
    outline:0px solid transparent;
    margin-right:5%;
    white-space: pre-wrap;
}

#annotation_data {
    margin-right:2.5%;
}