{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <title>Markup - Rapid Annotation, Powered by Active Learning</title>
    <link href="{% static 'css/home.css' %}" rel="stylesheet" />
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="landing-container unselectable">
        <p class="tagline">
            <span class="tagline-component tagline-component-main">markup</span>
            <span class="tagline-component tagline-component-sub">Rapid annotation, powered by active learning.</span>
        </p>
        <button onclick="location.href='/doc';" class="option-button documentation-button">Docs</button>
        <button onclick="location.href='/setup';" class="option-button">Annotate</button>
        <br><br><a id="try-demo">...or try out a demo</a>
    </div>
{% endblock %}