.configuration-file-creator-container {
  padding: 2.5% 25%;
}

.headline {
  font-size: 25px;
  font-weight: bold;
}

.input-form {
  width: 300px;
  padding: 5px;
  margin: 5px 0;
  border-radius: 2px;
  border: 1px solid #1A1E24;
}

#save-configuration-file {
  padding: 8px 15px;
  font-weight: bold;
  background-color: #33FFB5;
}

.option-button-small {
  font-weight: bold;
}

.configuration-list {
  margin-top: 1%;
}

.added-element {
  margin: 1%;
  padding: 0.75%;
  color: black;
  border-radius: 2px;
  font-size: 15px;
  font-weight: bold;
  background-color: lightgray;
  cursor: pointer;
  display: inline-block;
}

.added-element:hover {
  background-color: rgb(255, 162, 162);
}