.container {
  width: 100%;
}

.config-panel {
  height: 75vh;
  width: 60vw;
  margin: 2.5% auto;
}

.option-container {
  padding: 1%;
  border-radius: 5px;
  margin: 0 8%;
  color: white;
  box-shadow: 0 0 2px rgba(88, 88, 88, 0.329);
  background-color: #1A1E24;
  margin-bottom: 1%;
}

.option-container:hover {
  box-shadow: 0 0 2px black;
}

.option-headline {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.option-item {
  margin: 10px 0;
}

.option-input-field {
  background-color: white;
  color: #1A1E24;
  width: 95%;
  padding: 5px;
  margin-bottom: 0.5%;
  border-radius: 2px;
  border: 1px solid #333;
  outline: none;
  font-size: 16px;
}

.completed-option-container {
  margin-top: 3%;
  border-radius: 2px;
  text-align: center;
  white-space: nowrap;
}

.option-button-small {
  min-width: 0;
}

.config-tooltip {
  cursor: help;
  color: #b1b1b1;
  font-size: 14px;
}

#output-list-container {
  display: flex;
}

.option-column {
  flex: 50%;
  margin: 2%;
}

.added-element {
  display: block;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: #1A1E24;
  cursor: pointer;
}

.added-element:hover {
  border: 2px solid rgb(255, 112, 112);
}

@media only screen and (max-width: 750px) {
  .config-panel {
      width: 80vw;
  }

  .option-container {
      margin: 0.75% 5%;
  }

  .option-button {
      padding: 3px;
  }

  .option-sub-headline {
      font-size: 1em;
  }

  .option-dropdown {
      padding: 2px;
      font-size: 1em;
      height: 30px;
  }
}