::placeholder {
    color: red;
  }

.inputForm {
  width:300px;
  border-radius:5px;
  background-color: rgb(255, 255, 255);
  border:1px solid rgb(211, 211, 211);
  padding-left:10px;
}

#saveConfigurationFile {
  padding:7.5px;
  border-radius:5px;
  margin-bottom:5%;
  outline:none;
  border:none;
  background-color: #33FFB5;
  color:black;
  font-size:18px;
  text-transform: uppercase;
  font-weight:bold;
}

.addFormElement {
  border-radius:5px;
  font-weight:bold;
}