.optionButton {
    margin-right:5px;
    padding:20px 60px;
    text-transform: uppercase;
    font-weight:bold;
    border:none;
    outline:none;
    font-size:18px;
    background-color: rgb(65, 255, 185);
}

.optionButton:hover {
    background-color:rgb(39, 212, 149);
}

.optionButton:active {
    background-color:rgb(26, 167, 115);
}

.questionHeadline {
    font-size:50px;
}

#multipleDocs {
    background-color:lightgray;
}

#multipleDocs:hover {
    background-color:darkgray;
}

#configFileCreator {
    background-color:rgb(233, 233, 233);
}

#configFileCreator:hover {
    background-color:darkgray;
}

#skipAnnotationFileOpening {
    background-color:rgb(233, 233, 233);
}

#skipAnnotationFileOpening:hover {
    background-color:darkgray;
}

.loader {
    border: 16px solid rgb(65, 255, 185);
    border-top: 16px solid rgb(39, 212, 149);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}