.optionButton {
    margin:5px;
    display:inline-block;
    padding:20px 60px;
    text-transform: uppercase;
    font-weight:bold;
    border:none;
    outline:none;
    font-size:18px;
    background-color: rgb(65, 255, 185);
    border-radius:5px;
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
}

.optionButton:hover {
    background-color:rgb(39, 212, 149);
}

.optionButton:active {
    background-color:rgb(26, 167, 115);
}

.questionHeadline {
    font-size:50px;
    margin:10px;
    padding:10px;
}

#configFileCreator {
    background-color:rgb(233, 233, 233);
}

#configFileCreator:hover {
    background-color:darkgray;
}

#skipAnnotationFileOpening {
    background-color:rgb(233, 233, 233);
}

#skipAnnotationFileOpening:hover {
    background-color:darkgray;
}

#noDictionary {
    background-color:rgb(233, 233, 233);
}

#noDictionary:hover {
    background-color:darkgray;
}

.loader {
    border: 16px solid rgb(65, 255, 185);
    border-top: 16px solid rgb(39, 212, 149);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#multipleFileSpec {
    color:red;
    display:none;
    font-size:1.2em;
    margin-top:-35px;
}

@media only screen and (max-width: 1000px) {
    .optionButton {
        padding:10px 20px;
    }

    .questionHeadline {
        font-size:40px;
    }

    #multipleFileSpec {
        font-size:18px;
    }
}


@media only screen and (max-width: 700px) {
    .optionButton {
        padding:7.5px 7.5px;
    }

    .questionHeadline {
        font-size:30px;
    }

    #multipleFileSpec {
        font-size:15px;
    }
}