#tagline {
    margin-bottom:5%;
}

.optionButton {
    margin-right:5px;
    padding:20px 60px;
    border:none;
    outline:none;
    font-size:18px;
    text-transform: uppercase;
    font-weight:bold;
    border-radius:5px;
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
}

.documentation {
    background-color: rgb(182, 204, 196);
}

.getStarted {
    background-color: #33FFB5;
}

.documentation:hover {
    background-color:rgb(179, 179, 179);
}

.documentation:active {
    background-color:rgb(160, 160, 160);
}

.getStarted:hover {
    background-color:rgb(39, 212, 149);
}

.getStarted:active {
    background-color:rgb(26, 167, 115);
}