.landing-container {
    text-align: center;
    margin-top: 10%;
    
}

.tagline {
    margin-bottom: 5%;
}

.tagline-component {
    color: white;
    display: block;
}

.tagline-component-main {
    font-weight: bold;
    font-size: 100px;
}

.tagline-component-sub {
    font-size: 18px;
    text-transform: uppercase;
}

.documentation-button {
    background-color: rgb(216, 216, 216);
}

#try-demo {
    color: white;
    cursor: pointer;
}

#try-demo:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .tagline-component-main {
        font-size: 75px;
    }

    .tagline-component-sub {
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .tagline-component-main {
        font-size: 55px;
    }

    .tagline-component-sub {
        font-size: 12px;
    }

    .option-button {
        margin: 2px;
    }
}