.container {
    width: 100%;
}

.setup-panel {
    height: 75vh;
    width: 60vw;
    margin: 2.5% auto;
}

.option-container {
    padding: 1%;
    border-radius: 5px;
    margin: 0 8%;
    color: white;
    box-shadow: 0 0 2px rgba(88, 88, 88, 0.329);
    background-color: #1A1E24;
    margin-bottom: 1%;
}

.option-container:hover {
    box-shadow: 0 0 2px black;
}

.option-headline {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.option-item {
    margin: 10px 0;
}

.option-dropdown {
    display: inline;
    background-color: white;
    color: #1A1E24;
    max-width: 220px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}

.completed-option-container {
    margin-top: 3%;
    border-radius: 2px;
    text-align: center;
    white-space: nowrap;
}

.verification-form-field {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    width: 200px;
    border: 1px solid black;
}

.option-button-small {
    min-width: 0;
}

.setup-tooltip {
    cursor: help;
    color: #b1b1b1;
    font-size: 14px;
}

@media only screen and (max-width: 750px) {
    .setup-panel {
        width: 80vw;
    }

    .option-container {
        margin: 0.75% 5%;
    }

    .option-button {
        padding: 3px;
    }

    .option-sub-headline {
        font-size: 1em;
    }

    .option-dropdown {
        padding: 2px;
        font-size: 1em;
        height: 30px;
    }
}