.file-selection-container {
    text-align: center;
    padding-top: 9%;
}

.file-selection-option-container {
    padding-top: 1.5%;
    text-align: center;
}

.selection-container {
    padding-top: 1.5%;
}

.option-container {
    padding: 0.75%;
    border-radius: 2px;
    margin: 0.75% 30%;
    color: #333;
    box-shadow: 0 0 2px rgba(36, 36, 36, 0.329);
    background-color: rgba(240, 240, 240, 0.164);
}

.option-container:hover {
    filter: brightness(95%);
}

.completed-option-container {
    padding: 0.75%;
    border-radius: 2px;
    margin: 0.75% 30%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    text-align: center;
}

.option-headline {
    font-size: 50px;
    margin: 10px;
    padding: 10px;
}

.option-sub-headline {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.option-dropdown {
    display: inline;
    background-color: lightgray;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    max-width: 220px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}

#try-demo {
    cursor: pointer;
    margin: 5px;
    font-size: 18px;
}

#try-demo:hover {
    text-decoration: underline;
}

#umls-verification-form-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 15%;
    background-color: #f1f1f1;
    color: #333;
}