{% extends 'file_selection/config_creator_head.html' %}

{% block content %}
    <div class="configuration-file-creator-container">
        <div class="entity-input-container">
            <p class="headline">Entities</p>
            <input id="entity-name" class="input-form" type="text" placeholder="Entity name (e.g. Seizure)">
            <br>
            <button id="add-entity" class="option-button option-button-small">+ Entity</button>
            <br>
            <br>
            <div id="entity-list" class="configuration-list"></div>
        </div>

        <div class="attribute-input-container">
            <p class="headline">Attributes</p>
            <input id="attribute-name" class="input-form" type="text" placeholder="Attribute name (e.g. SeizureFrequency)">
            <br>
            <input id="attribute-relation" class="input-form" type="text" placeholder="Related entity (e.g. Seizure)">
            <br>
            <input id="attribute-dropdown" class="input-form" type="text" placeholder="Dropdown values (e.g. Daily, Weekly, Monthly)">
            <br>
            <button id="add-attribute" class="option-button option-button-small">+ Attribute</button>
            <br>
            <br>
            <div id="attribute-list" class="configuration-list"></div>
            <br>
        </div>

        <a id="save-configuration-file" class="option-button option-button-small">Save</a>
    </div>
{% endblock %}