{% extends 'file_selection/config_creator_head.html' %}

{% block content %}
    <div class="container">
        <div class="config-panel">
            <div class="option-container">
                <p class="option-headline option-item">
                    Entities
                    <span class="config-tooltip" title="The entity category that you want to select (e.g. Seizure).">
                        <i class="far fa-question-circle"></i>
                    </span>
                </p>
                <div class="option-item">
                    <input id="entity-name" class="option-input-field" type="text" placeholder="Entity name (e.g. Seizure)">
                </div>
                <div class="option-item">
                    <label id="add-entity" class="option-button option-button-small">+ Entity</label>
                </div>
            </div>

            <div class="option-container">
                <p class="option-headline option-item">
                    Attributes
                    <span class="config-tooltip" title="The attributes you want an entity to have (e.g. SeizureFrequency).">
                        <i class="far fa-question-circle"></i>
                    </span>
                </p>
                <div class="option-item">
                    <input id="attribute-name" class="option-input-field" type="text" placeholder="Attribute name (e.g. SeizureFrequency)">
                </div>
                <div class="option-item">
                    <input id="attribute-relation" class="option-input-field" type="text" placeholder="Related entity (e.g. Seizure)">
                </div>
                <div class="option-item">
                    <input id="attribute-dropdown" class="option-input-field" type="text" placeholder="Dropdown values (e.g. Daily, Weekly, Monthly)">
                </div>
                <div class="option-item">
                    <label id="add-attribute" class="option-button option-button-small">+ Attribute</label>
                </div>
            </div>

            <div class="option-container">
                <p class="option-headline option-item">
                    Output
                    <span class="config-tooltip" title="The entities and attributes that will be included in the exported configuration file.">
                        <i class="far fa-question-circle"></i>
                    </span>
                </p>
                <span id="empty-container-message">Nothing added yet.</span>
                <div id="output-list-container" style="display: none;">
                    <div id="entity-list" class="option-column"><span style="font-weight: normal; text-transform: uppercase;">Added Entities</span></div>
                    <div id="attribute-list" class="option-column"><span style="font-weight: normal; text-transform: uppercase;">Added Attributes</span></div>
                </div>
            </div>

            <div class="completed-option-container">
                <button id="save-configuration-file" class="option-button">Save Config File</button>
            </div>
        </div>
    </div>
{% endblock %}