<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148811237-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148811237-1');
    </script>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Configuration File - Markup</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet" />
    <link href="{% static 'file_selection/create_config.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'file_selection/favicon.ico' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src="{% static 'file_selection/create_config.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body style="background-blend-mode: overlay;">
    <nav>
        <div class="nav-wrapper" style="background-color:#333;">
            <a href="/" class="brand-logo nav-item" style="margin-left:2%;  font-family: 'Nunito'; font-weight:bold;">markup</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right:2%;  font-family: 'Nunito'; color:#33FFB5; font-weight:bold;">
                <li><a class="nav-item" href="/getting-started">Getting Started</a></li>
                <li><a class="nav-item" href="/learn-more">Documentation</a></li>
                <li><a class="nav-item" target="_blank" href="https://github.com/samueldobbie/markup">Github</a></li>
                <li><a class="nav-item" id="darkMode">Dark Mode</a></li>
            </ul>
        </div>
    </nav>

    <div style="margin-top:6.5%; text-align:center;">
        <div>
            <p style="font-size:25px; font-weight:bold;">Entities</p>
            <input id="entityName" class="inputForm" type="text" placeholder="Entity name (e.g. Epilepsy)">
            <br><button id="addEntity" class="addFormElement" style="padding:11px; outline:none; border:none; background-color: #33FFB5; font-size:15px; text-transform: uppercase; font-weight:bold;">+</button>
            <div id="entityList" style="margin-top:1%;"></div>
            <br>
            <br>
        </div>

        <div>
            <p style="font-size:25px; font-weight:bold;">Attributes</p>
            <input id="attributeName" class="inputForm" type="text" placeholder="Attribute name (e.g. SeizureFrequency)">
            <br><input id="attributeRelation" class="inputForm" type="text" placeholder="Related entity (e.g. Epilepsy)">
            <br><input id="attributeDropdown" class="inputForm" type="text" placeholder="All dropdown values (comma-seperated)">
            <br><button id="addAttribute" class="addFormElement" style="padding:11px; outline:none; border:none; background-color: #33FFB5; font-size:15px; text-transform: uppercase; font-weight:bold;">+</button>
            <div id="attributeList" style="margin-top:1%;"></div>
            <br>
            <br>
        </div>

        <a id="saveConfigurationFile">Save configuration file</a>
    </div>
</body>

</html>