{% extends 'file_selection/docs_head.html' %}

{% block content %}
    <div class="doc-container">
        <h1 class="doc-headline">Markup Documentation</h1>
        <p class="doc-line">
            Markup is an online annotation tool that can be used to transform unstructured documents into structured <a href="http://brat.nlplab.org/standoff.html" target="_blank">standoff format</a> for NLP and ML tasks, such as named-entity recognition. Markup learns as you annotate in order to predict and suggest complex annotations. Markup also provides integrated access to existing and custom ontologies, enabling the prediction and suggestion of ontology mappings based on the text you're annotating.
        </p>

        <h2 class="doc-headline">
            Setup
        </h2>
        <p class="doc-line">
            <span class="doc-field">Quantity</span> - The number of documents you intend to annotate (defaults to <span class="doc-field">single</span>).
        </p>

        <h3 class="doc-headline">
            Single Document
        </h3>
        <p class="doc-line">
            <b>Required</b>
        </p>
        <p class="doc-line">
            <span class="doc-field">Document to annotate</span> - The document you intend to annotate (must have .txt file extension).
        </p>
        <p class="doc-line">
            <span class="doc-field">Configuration file</span> - Defines all entities and attributes available during annotation.
            Select an existing configuration file (must have .conf file extension) or create a new one using the <a href="/config-creator" target="_blank">in-built config creator</a>.
        </p>
        <p class="doc-line">
            <b>Optional</b>
        </p>
        <p class="doc-line">
            <span class="doc-field">Existing annotations</span> - A file containing existing annotations for the document you intend to annotate.
            The annotation file must have the .ann file extension and be in <a href="http://brat.nlplab.org/standoff.html" target="_blank">standoff format</a>.  
        </p>
        <p class="doc-line">
            <span class="doc-field">Ontology</span> - A dictionary of terms and codes to be accessed during annotation.
            <ul class="doc-line doc-list">
                <li><span class="doc-field">Pre-loaded</span> - Markup offers pre-loaded ontologies that can be used. Certain pre-loaded ontologies require external permissions (e.g. the Unified Medical Language System), for which you will need to login to authorise access.</li>
                <li><span class="doc-field">Custom</span> - You can provide a custom ontology by providing a text document, where each line is of the form <b>[TERM][TAB][CODE]</b>, as shown below.</li>
            </ul>
        </p>
        <span class="doc-line">
            <div class="doc-example">
                <p>Focal Seizure <span style="margin-left: 50px;">RANDOM01938</span></p>
                <p>Epilepsy <span style="margin-left: 50px;">RANDOM43904</span></p>
                <p>Sodium Valproate <span style="margin-left: 50px;">RANDOM30921</span></p>
                <p>...</p>
            </div>
        </span>        
        
        <h3 class="doc-headline">
            Multiple Documents
        </h3>
        <p class="doc-line">
            <b>Required</b>
        </p>
        <p class="doc-line">
            <span class="doc-field">Folder to annotate</span> - The folder containing the documents you wish to annotate. The folder must contain:
            <ul class="doc-line doc-list">
                <li>The documents you wish to annotate (must have .txt file extension).</li>
                <li>A configuration file (must have .conf file extension).</li>
                <li>Any existing annotation files you wish to use (must have .ann file extension). The name of each annotation file must match the name of its corresponding text document (e.g. annotations for <span class="doc-field">some-random-file.txt</span> must be stored in <span class="doc-field">some-random-file.ann</span>).</li>
            </ul>
        </p>

        <h2 class="doc-headline">
            Annotation
        </h2>
        <ul class="doc-line">
            <li>Highlight the desired word or phrase to annotate.</li>
            <ul class="doc-line">
                <li>Either double click quickly on the word or if a string of words, double click on the first or last word, hold the second click and drag to highlight the whole phrase. This will snap to highlight whole words, speeding up the process.</li>
                <li>It is also possible to single click and drag to cover the word/string.</li>
            </ul>
            <li>On the left-hand side, the entities from the .conf file are listed. Click on the desired entity and below the last option, the attributes for that entity will appear.</li>
            <li>These drop-down boxes can be typed into for swiftly annotating, or scrolled thought to select. If an attribute value wasn’t added to the conf file, the value can be typed and will be saved as typed (useful for numbers).</li>
            <li>If when annotating you would like to add a CUI (or another identifying key), below the attributes there are two dropdown boxes and a search bar. If the highlighted phrase is within the ontology selected, selecting the phrase will add the CUI to the annotation.</li>
            <ul class="doc-line">
                <li>If the exact term is not in the ontology but a similar term is there, the user can select this other term (very useful for typos). The terms are displayed in order of similarity to the highlighted phrase.</li>
                <li>If the suggestions aren’t appropriate, it is possible to use the search box to type out a term that would match the phrase. Then select the phrase (or a suitable near match) from the second dropdown box.</li>
            </ul>
            <li>To finally add the annotation, click the + Annotation button.</li>
            <li>The annotation should then appear on the right-hand side of the main body of text.</li>
            <li>The annotation can be reviewed by clicking on this new annotation on the right-hand side.</li>
            <ul class="doc-line">
                <li>The annotations will be grouped by entities.</li>
                <li>Clicking on this annotation will flash on the main body of text (only if it is the latest annotation on the phrase)</li>
                <li>The annotation can be deleted by clicking on the small bin icon in the bottom right corner.</li>
                <li>The ability to edit annotations without deleting will be coming soon.</li>
            </ul>
            <li>Unlike brat, it is possible to annotate over the same phrase twice, adding to the same or different entity.</li>
        </ul>

        <h2 class="doc-headline">
            Annotation Suggestions
        </h2>
        <ul class="doc-line">
            <li>Markup will indicate any annotation suggestions above where then annotations appear on the right-hand side (it may take a few seconds for the suggestions to appear, depending on the specification of your machine).
            <li>These annotations will be grouped by entity and coloured according to the entities on the left-hand side.
            <li>Clicking on a suggested annotation will give the user the opportunity to review the suggestion before accepting or rejecting it, where:
            <ul class="doc-line">
                <li>Accepting will add the annotation, along with its appropriate entity and attributes.</li>
                <li>Rejecting will feedback into the prediction model to improve future annotations.</li>
            </ul>
            <li>The ability to edit the suggestions will be added soon.
            <li>Upon adding the annotation, the annotation will span the whole sentence where the appropriate sequence is found.
            Exporting Annotations
            <li>After all the annotations have been added. Clicking on the Export button (next to + Annotation) will tell your browser to save the .ann file. It will usually save automatically to your download folder, however, it is possible, within the setting of some browsers, to select where this .ann file will be saved. Guidelines demonstrating the process for updating this setting is demonstrated on Chrome and Firefox <a href="https://www.howtogeek.com/231002/how-to-change-the-chrome-download-folder-location/" target="_blank">here</a> and <a href="https://www.howtogeek.com/260271/how-to-change-the-firefox-download-folder-location/" target="_blank">here</a>, respectively.
        </ul>

        <h2 class="doc-headline">
            Configuration File
        </h2>
        <ul class="doc-line">
            <li>The annotation configuration file must be in the format of the annotation type configuration used by <a href="http://brat.nlplab.org/configuration.html" target="_blank">brat annotation configuration</a> however, it does not include the relations or event definitions. We do not yet support advanced entity level configuration, but advanced attribute configuration is included.</li>
            <li>Keyboard shortcut configuration is a feature that is soon to be added.</li>
            <li>We suggest using the built-in Configuration Creator if you have no experience creating an annotation configuration file.</li>
            <ul class="doc-line">
                <li>Add each of the entities you wish to annotate, one by one, into the Entities – Entity name bar. Selecting + ENTITY after each one.</li>
                <li>Then you need to add the attributes to each Entity.</li>
                <li>In the attributes section, add the attribute name, the entity to go with that attribute, followed by any values you wish that attribute to have. For multiple values, separate each with a comma. Add the attribute by pressing +Attribute. The attribute will be shown on the page, with the entity and its values. Clicking on the attribute will remove it.</li>
                <li>Repeat the process until you have added each of your desired attributes. The attributes are added in the order they are created, we suggest adding all the attributes for one entity, then moving on to the next.</li>
                <li>Finally save the annotation configuration file to your system, with the save button.</li>
            </ul>
            <li>The saved .conf file can be edited in any text editor.</li>
            <li>To add a new entity, simply add it the entities section of the conf file, anywhere above the ‘[attributes]’ line. Then add the attributes, following the format as the already populated section.  With each value separated by a vertical bar (‘|’).</li>
        </ul>

        Exporting

        Active Learning / Seq2Seq
    </div>
{% endblock %}