<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148811237-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-148811237-1');
    </script>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Annotation Setup - Markup</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet" />
    <link href="{% static 'file_selection/getting_started.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'file_selection/favicon.ico' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src="{% static 'file_selection/getting_started.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <nav>
        <div class="nav-wrapper" style="background-color:#333;">
            <a href="/" class="brand-logo nav-item" style="margin-left:2%;  font-family: 'Nunito'; font-weight:bold;">markup</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down"
                style="margin-right:2%;  font-family: 'Nunito'; color:#33FFB5; font-weight:bold;">
                <li><a class="nav-item" href="/getting-started">Getting Started</a></li>
                <li><a class="nav-item" href="/learn-more">Documentation</a></li>
                <li><a class="nav-item" target="_blank" href="https://github.com/samueldobbie/markup">Github</a></li>
                <li><a class="nav-item" id="darkMode">Dark Mode</a></li>
            </ul>
        </div>
    </nav>

    <div style="text-align:center; padding-top:9%;">
        <p id="questionOne" class="questionHeadline">I want to annotate...</p>

        <p id="questionTwoA" class="questionHeadline" style="display:none;">The document I want to annotate is...</p>
        <p id="questionTwoB" class="questionHeadline" style="display:none;">The folder containing the documents is...</p>

        <p id="questionThreeA" class="questionHeadline" style="display:none;">My configuration file is...</p>

        <p id="questionFourA" class="questionHeadline" style="display:none;">My existing annotation file is...</p>

        <p id="questionFive" class="questionHeadline" style="display:none;">The dictionary I want to use is...</p>

        <p id="finishedQuestions" class="questionHeadline" style="display:none;">Here we go!</p>
    </div>

    <div style="padding-top:1.5%; text-align:center;">
        <!-- Choose method to open file (single or multiple) -->
        <button id="aSingleDoc" class="optionButton">A single document</button>
        <button id="multipleDocs" class="optionButton" onclick="return false">Multiple documents</button>

        <!-- START SINGLE FILE PATH -->
        <!-- Allow selection of a single text file -->
        <label for="documentFileOpener" id="documentFileOpenerOverlay" class="optionButton"
            style="color:black; display:none;">Choose document to annotate</label>
        <input id="documentFileOpener" type="file" accept=".txt" style="display:none;">

        <!-- Allow opening of a single configuration file-->
        <label for="configFileOpener" id="configFileOpenerOverlay" class="optionButton"
            style="color:black; display:none;">Choose configuration file</label>
        <input id="configFileOpener" type="file" accept=".conf" style="display:none;">
        <a href="/create-configuration-file/"><label id="configFileCreator" class="optionButton"
                style="display:none; color:black;">Create configuration
                file</label></a>

        <!-- Allow opening of a single annotation file -->
        <label for="annotationFileOpener" id="annotationFileOpenerOverlay" class="optionButton"
            style="color:black; display:none;">Choose annotation file</label>
        <input id="annotationFileOpener" type="file" accept=".ann" style="display:none;">
        <label id="skipAnnotationFileOpening" class="optionButton"
            style="display:none; color:black;">Skip</label>
        <!-- END SINGLE FILE PATH -->

        <!-- START MULTIPLE FILES PATH -->
        <ul id="multipleFileSpec">
            Folder must contain:
            <li>(1) A single configuration file (ending in .conf)</li>
            <li>(2) All documents you want to annotate (ending in .txt)</li>
            <li>(3) Any existing annotation files (ending in .ann), with names that<br> match the document they correspond with</li>
        </ul>
        <br>
        <label for="documentFolderOpener" style="display:none; color:black;" id="documentFolderOpenerOverlay" class="optionButton" style="color:black;">Choose folder</label>
        <input id="documentFolderOpener" style="display:none;" type="file" accept=".txt" webkitdirectory multiple>
        <!-- END MULTIPLE FILES PATH -->    

        <!-- Allow selection of dictionary -->
        <div id="dictionaryOptions" style="display:none;">
            <form action="" method="post">
                {% csrf_token %}
                <span id="umlsDictionary" class="optionButton dictionaryOption" style="color:black;">Unified Medical Language System (UMLS)</span>
                <label for="dictionaryFileOpener" id="dictionaryFileOpenerOverlay" class="optionButton dictionaryOption" style="color:black;">Custom dictionary</label>
                <input id="dictionaryFileOpener" type="file" accept="*" style="display:none;">
                <span id="noDictionary" class="optionButton dictionaryOption" style="color:black;">Skip</span>
            </form>
        </div>

        <div id="loader" style="display:none; text-align:center;">
            <div class="loader" style="margin:0 auto;"></div>
            <p style="font-size:18px;">Setting up dictionary...</p>
        </div>
    </div>

</body>

</html>