<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Markup</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet" />
    <link href="{% static 'file_selection/index.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="{% static 'file_selection/favicon.ico' %}" />
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src="{% static 'file_selection/index.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <nav>
        <div class="nav-wrapper" style="background-color:#333;">
            <a href="/" class="brand-logo" style="margin-left:2%;  font-family: 'Nunito'; font-weight:bold;">markup</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right:2%;  font-family: 'Nunito'; color:#33FFB5; font-weight:bold;">
                <li><a href="#">Getting Started</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a target="_blank" href="https://github.com/samueldobbie/markup">Github</a></li>
            </ul>
        </div>
    </nav>

    <div id="openFile" style="text-align: center; margin-top:12%">
        <p style="font-weight:bold; font-size: 75px; font-family: 'Nunito';">Open a file to start <span style="background-color:#33FFB5;">annotating</span></p>
        <form action="" method="GET" style="margin-top:4%;">
            <input style="border-radius:100px; font-family: 'Nunito'; font-size:24px; background-color:#333; color:white; font-weight: bold;" type="submit" class="btn" value="Single file" name="open_file_button">
            <input style="border-radius:100px; margin-left:2%; font-family: 'Nunito'; font-size:24px; background-color:#333; color:white; font-weight: bold;" type="submit" class="btn" value="Multiple files" name="open_dir_button">
        </form>
    </div>
</body>

</html>