{% extends 'file_selection/setup_head.html' %}

{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="setup-panel">
            <div class="option-container option-file-container" complete="true" id="setup-type-container">
                <p class="option-headline option-item">
                    <span style="color: red;">* </span>
                    Quantity
                    <span class="setup-tooltip" title="The number of documents you intend to annotate.">
                        <i class="far fa-question-circle"></i>
                    </span>
                </p>
                <select id="setup-type-dropdown" class="option-dropdown option-item">
                    <option value="single" selected>Single file</option>
                    <option value="multiple">Mutliple files</option>
                </select>
            </div>

            <div id="single-document-selection-container">
                <div class="option-container option-file-container" complete="false" id="document-file-opener-container">
                    <p class="option-headline option-item">
                        <span style="color: red;">* </span>
                        Document to annotate
                        <span class="setup-tooltip" title="The single document you intend to annotate (must be .txt file).">
                            <i class="far fa-question-circle"></i>
                        </span>
                    </p>
                    <div class="option-item">
                        <label for="document-file-opener" class="option-button option-button-small">Select</label>
                        <input id="document-file-opener" type="file" accept=".txt" style="display:none;">
                        <span id="document-file-name"></span>
                    </div>
                </div>

                <div class="option-container option-file-container" complete="false" id="configuration-file-opener-container">
                    <p class="option-headline option-item">
                        <span style="color: red;">* </span>
                        Configuration file
                        <span class="setup-tooltip" title="The configuration file that defines available entities and attributes (must be .conf file).">
                            <i class="far fa-question-circle"></i>
                        </span>
                    </p>
                    <div class="option-item">
                        <label for="configuration-file-opener" class="option-button option-button-small">Select</label>
                        <input id="configuration-file-opener" type="file" accept=".conf" style="display:none;">
                        <span>or</span>
                        <a href="/create-configuration-file/" style="text-decoration: none;"><label class="option-button option-button-small">Create</label></a>
                        <span id="configuration-file-name"></span>
                    </div>
                </div>

                <div class="option-container option-file-container" complete="true" id="annotation-file-opener-container">
                    <p class="option-headline option-item">
                        Existing annotations
                        <span class="setup-tooltip" title="Optional: The file containing existing annotations for the document you intend to annotate (must be .ann file).">
                            <i class="far fa-question-circle"></i>
                        </span>
                    </p>
                    <div class="option-item">
                        <label for="annotation-file-opener" class="option-button option-button-small">Select</label>
                        <input id="annotation-file-opener" type="file" accept=".ann" style="display:none;">
                        <label id="annotation-file-remover" class="option-button option-button-small" style="background-color: rgb(255, 162, 162); display: none;">Remove</label>
                        <span id="annotation-file-name"></span>
                    </div>
                </div>
        
                <div class="option-container option-file-container" complete="true" id="ontology-file-opener-container">
                    <p class="option-headline option-item">
                        Ontology
                        <span class="setup-tooltip" title="Optional: An existing or custom ontology you want to access during annotation. See 'Docs' for custom formatting details.">
                            <i class="far fa-question-circle"></i>
                        </span>
                    </p>
                    <div class="option-item">
                        <div id="single-ontology-loader" style="display: none;">
                            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                        </div>

                        <div id="single-ontology-options">
                            <select id="ontology-file-dropdown" class="option-dropdown">
                                <option value="default">Choose pre-loaded</option>
                                <option value="umls">UMLS</option>
                            </select>
                            <span>or</span>
                            <label for="ontology-file-opener" class="option-button option-button-small">Custom</label>
                            <input id="ontology-file-opener" type="file" accept=".txt" style="display:none;">
                            <span id="ontology-file-name"></span>
                        </div>
                    </div>
                </div>
        
                <div class="completed-option-container">
                    <button id="start-annotating-file" class="option-button">Start annotating!</button>
                    <span id="ontology-wait-message-file" class="ontology-wait-message" style="display: none;">Please wait - setting up large ontologies can take a few minutes.</span>
                </div>
            </div>

            <div id="multiple-document-selection-container" style="display: none;">
                <div class="option-container option-folder-container" complete="false" id="folder-file-opener-container">
                    <p class="option-headline option-item">
                        <span style="color: red;">* </span>
                        Folder to annotate
                        <span class="setup-tooltip" title="The folder containing the configuration file, documents to annotate, and existing annotations (if applicable). See 'Docs' for required folder structure.">
                            <i class="far fa-question-circle"></i>
                        </span>
                    </p>
                    <div class="option-item">
                        <label for="folder-file-opener" class="option-button option-button-small">Select</label>
                        <input id="folder-file-opener" style="display:none;" type="file" webkitdirectory mozdirectory multiple>
                        <span id="folder-file-name"></span>
                    </div>
                </div>
        
                <div class="option-container option-folder-container" complete="true" id="ontology-folder-opener-container">
                    <p class="option-headline option-item">
                        Ontology
                        <span class="setup-tooltip" title="Optional: An existing or custom ontology you want to access during annotation. See 'Docs' for custom formatting details.">
                            <i class="far fa-question-circle"></i>
                        </span>
                    </p>
                    <div class="option-item">
                        <div id="multiple-ontology-loader" style="display: none;">
                            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                        </div>

                        <div id="multiple-ontology-options">
                            <select id="ontology-folder-dropdown" class="option-dropdown">
                                <option value="default">Choose pre-loaded</option>
                                <option value="umls">UMLS</option>
                            </select>
                            <span>or</span>
                            <label for="ontology-folder-opener" class="option-button option-button-small">Custom</label>
                            <input id="ontology-folder-opener" type="file" accept=".txt" style="display:none;">
                            <span id="ontology-folder-name"></span>
                        </div>
                    </div>
                </div>        
        
                <div class="completed-option-container">
                    <button id="start-annotating-folder" class="option-button">Start annotating!</button>
                    <span id="ontology-wait-message-folder" class="ontology-wait-message" style="display: none;">Please wait - setting up large ontologies can take a few minutes.</span>
                </div>
            </div>

            <div class="option-container" id="umls-verification-form-container" style="display: none;">
                <p class="option-headline option-item">Authenticate</p>
                <p id="umls-verification-form-invalid-credentials" style="color: red; display: none;">The entered username and/or password was incorrect.</p>
                <p class="option-item">Enter your <b>UMLS</b> credentials to access this ontology. Apply for an account <a href="https://www.nlm.nih.gov/research/umls/index.html" target="_blank">here</a>.</p>

                <div id="umls-verification-loader" style="display: none;">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                    <p>Please wait - the ontology can take a couple of minutes to setup the first time you use it.</p>
                </div>

                <form method="post" class="option-item" id="umls-verification-form">
                    {% csrf_token %}
                    <input class="verification-form-field" type="text" placeholder="Enter username" name="umls-username" required>
                    <br>
                    <input class="verification-form-field" type="password" placeholder="Enter password" name="umls-password" required>
                    <br><br>
                    <button class="option-button option-button-small" style="background-color: #33FFB5;" type="submit">Authenticate</button> or <button class="option-button option-button-small" style="background-color: rgb(255, 162, 162);" id="umls-verification-exit">Exit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}