{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <title>Setup - Markup</title>
    <link href="{% static 'file_selection/third-party/simpletooltip.min.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'file_selection/third-party/loading.io.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'file_selection/setup.css' %}" rel="stylesheet" />
    <script src="{% static 'file_selection/third-party/simpletooltip.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/140067eff9.js" crossorigin="anonymous"></script>
    <script src="{% static 'file_selection/setup.js' %}"></script>
{% endblock %}