{% extends 'file_selection/training_data_creator_head.html' %}

{% block content %}
    <div class="container">
        <div class="training-data-panel">
            <div class="option-container">
                <p class="option-headline option-item">
                    Variables
                    <span class="training-tooltip" title="A variable containing a set of values to be used during sentence generation.">
                        <i class="far fa-question-circle"></i>
                    </span>
                </p>
                <div class="option-item">
                    <select id="variable-dropdown" class="option-dropdown">
                        <option value="text">Text values</option>
                        <option value="numerical">Numerical range</option>
                    </select>
                    <input id="variable-name" class="option-input-field" type="text" placeholder="Name (e.g. Dose Unit)">
                    <textarea id="variable-text-value" class="option-input-field" style="resize: vertical;" type="text" placeholder="Comma-seperated values (e.g. grams, milligrams)"></textarea>
                    <div id="variable-numerical-range" style="display: none;">
                        <input id="numerical-range-low" class="option-input-field" style="width: 30.5%;" type="text" placeholder="Low (e.g. 0)">
                        <input id="numerical-range-high" class="option-input-field" style="width: 30.5%;" type="text" placeholder="High (e.g. 100)">
                        <input id="numerical-range-step" class="option-input-field" style="width: 30.5%;" type="text" placeholder="Step (e.g. 1)">
                    </div>
                </div>
                <div class="option-item">
                    <label id="add-variable" class="option-button option-button-small">+ Variable</label>
                </div>
            </div>

            <div class="option-container">
                <p class="option-headline option-item">
                    Sentence Templates
                    <span class="training-tooltip" title="Templates containing a mix of text and variables, which will be used for sentence generation.">
                        <i class="far fa-question-circle"></i>
                    </span>
                </p>
                <div class="option-item">
                    <input id="template-input" class="option-input-field" type="text" placeholder="Template (e.g. She is taking [Drug Name] with a dose of [Drug Dose] [Dose Unit].)">
                </div>
                <div class="option-item">
                    <label id="add-template" class="option-button option-button-small">+ Template</label>
                </div>
            </div>

            <div class="option-container">
                <p class="option-headline option-item">
                    Quantity
                    <span class="training-tooltip" title="The maximum number of unique sentences that will be generated.">
                        <i class="far fa-question-circle"></i>
                    </span>
                </p>
                <div class="option-item">
                    <input type="range" name="rangeInput" min="0" max="25000" step="100" value="0" oninput="updateTextInput(this.value);">
                    <span id="quantity-range-value" value="">0</span>
                </div>
            </div>

            <div class="completed-option-container" style="margin-bottom: 2.5%;">
                <a id="save-training-data" class="option-button" style="text-decoration: none;">
                    Generate Training Data
                </a>
            </div>
        </div>
    </div>
{% endblock %}