{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <title>Data Generator - Markup</title>
    <link href="{% static 'css/third-party/simpletooltip.min.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'css/data_generator.css' %}" rel="stylesheet" />
    <script src="{% static 'js/third-party/simpletooltip.min.js' %}"></script>
    <script src="{% static 'js/data_generator.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="training-data-panel">
            <div class="option-container">
                <p class="option-headline option-item">
                    Configuration File
                    <span class="training-tooltip" title="Load in a configuration file to speed up adding variable names.">
                        <i class="far fa-question-circle"></i>
                    </span>
                </p>
                <label for="config-file-opener" class="option-button option-button-small" id='config-file'>Select A Config File</label>
                <input id="config-file-opener" type="file" accept=".conf" style="display: none;"></input>
                <div></div>
                <div class="config-option-items" style="padding-top: 5px;" id="config-option-items">
                    <select id="config-entity" class="option-dropdown" style="display: none;">
                        <option value = "" selected="selected" disabled="disabled"> Entities </option>
                    </select>
                    <select id="config-feature" class="option-dropdown" style="display: none;">
                        <option value = "" selected="selected" disabled="disabled"> Features </option>
                    </select>
                </div>
            </div>
            <div class="option-container">
                <p class="option-headline option-item">
                    Variables
                    <span class="training-tooltip" title="A variable containing a set of values to be used during sentence generation.">
                        <i class="far fa-question-circle"></i>
                    </span>
                </p>
                <div class="option-item">
                    <select id="variable-dropdown" class="option-dropdown">
                        <option value="text">Text values</option>
                        <option value="numerical">Numerical range</option>
                    </select>
                    <input id="variable-name" class="option-input-field" type="search" autocomplete="off" placeholder="Name (e.g. dose unit)">
                    <!-- <label id="use-feature" class="option-button option-button-small">Use Feature</label> -->
                    <textarea id="variable-text-value" class="option-input-field" style="resize: vertical;" type="text" placeholder="Comma-seperated values (e.g. grams, milligrams)"></textarea>
                    <div id="variable-numerical-range" style="display: none;">
                        <input id="numerical-range-low" class="option-input-field" style="width: 30.5%;" type="number" min="0" placeholder="Low (e.g. 0)">
                        <input id="numerical-range-high" class="option-input-field" style="width: 30.5%;" type="number" min="0" placeholder="High (e.g. 100)">
                        <input id="numerical-range-step" class="option-input-field" style="width: 30.5%;" type="number" min="1" placeholder="Step (e.g. 1)">
                    </div>
                </div>
                <div class="option-item">
                    <label id="add-variable" class="option-button option-button-small">+ Variable</label>
                </div>
                <div id="variable-list" class="output-list"></div>
            </div>
        
            <!-- <div class="option-container">
                <p class="option-headline option-item">
                    UMLS Query
                    <span class="training-tooltip" title="Select from the drop down menus the critera for your search of the UMLS database.">
                        <i class="far fa-question-circle"></i>
                    </span>
                </p>
                <div>Search for a String or a Code
                    <span class="training-tooltip" title="Strings are case insensitive. Codes could be CUIs, ICD10, ICD9, Read Codes or SNOMED CT codes.">
                        <i class="far fa-question-circle"></i>
                </div>
                <div class="option-item">
                    <select id="Method" class="option-dropdown">
                        <option value = "String"> String </option>
                        <option value = "CUI"> CUI </option>
                        <option value = "CODE"> Other Code </option>
                    </select>
                    <input id="variable-string-name" class="option-input-field" style="resize: vertical;" type="text" placeholder="Term to search on">
                    <input id="variable-CUI-value" class="option-input-field" style="resize: vertical; display: none;" type="text" placeholder="CUI to search for">
                    <input id="variable-code-value" class="option-input-field" style="resize: vertical; display: none;" type="text" placeholder="Code to search for">
                    </div>
                <div> Choose the relationship of the search
                    <span class="training-tooltip" title="Relationships from the MRREL UMLS table. See documentation for more details.">
                        <i class="far fa-question-circle"></i>
                </div>
                <div class="option-item">
                    <select id="relationship" class="option-dropdown">
                        <option value = "exact"> Exact </option>
                        <option value = "PAR"> Parent </option>
                        <option value = "CHD"> Child </option>
                        <option value = "SIB"> Sibling </option>
                    </select>
                </div>
                <div class="option-item">
                        <label id="submit-query" class="option-button option-button-small"> Submit Query</label>
                        <select id="displayMethod" class="option-dropdown">
                            <option value = "Unique"> Unique </option>
                            <option value = "All"> All </option>
                        </select>
                </div>
                <div id="no-results" style="display: none">
                    No Results from your query. Please try again.
                </div>
                <div class="table-unique" style="display: none" id="table-unique">
                    <table style="width:100%", border="2", id="umls-display-table", class='display-table'>
                        <col style="width:100%">
                        <col style="width:20%">
                        <tbody>
                            <tr>
                                <th>String</th>
                                <th>CUI</th>
                            </tr>
                        </tbody>
                    </table>

                    <div> Add the Strings as a Variable
                        <span class="training-tooltip" title="Will add the unique strings as a variable">
                            <i class="far fa-question-circle"></i>
                    </div>
                    <div class="option-item">
                        <label id="clear-table-unique" class="option-button option-button-small"> Clear Table</label>
                        <label id="previous-20-unique" class="option-button option-button-small"> Previous 20</label>
                        <label id="next-20-unique" class="option-button option-button-small"> Next 20</label>
                        <label id="next-20-unique-1st" class="option-button option-button-small"> Next 20</label>
                    </div>
                    <div class="add-to-variable">
                        <input id="variable-name-unique" class="option-input-field" type="text" placeholder="Name (e.g. dose unit)"></input>
                        <label id="add-to-variables-unique" class="option-button option-button-small">+ Variable</label>
                    </div>
                </div>
                <div class="table-all" style="display: none", id="table-all">
                    <table style="width:100%", border="2", id="umls-display-table-all", class='display-table'>
                        <col style="width:100%">
                        <col style="width:20%">
                        <col style="width:20%">
                        <col style="width:20%">
                        <tbody>
                            <tr>
                                <th>String</th>
                                <th>CUI</th>
                                <th>SAB</th>
                                <th>CODE</th>
                            </tr>
                        </tbody>
                    </table>
                    <div> Add the Strings as a Variable
                        <span class="training-tooltip" title="Will add the unique strings as a variable">
                            <i class="far fa-question-circle"></i>
                    </div>
                    <div class="option-item">
                        <label id="clear-table-all" class="option-button option-button-small"> Clear Table</label>
                        <label id="previous-20-all" class="option-button option-button-small"> Previous 20</label>
                        <label id="next-20-all" class="option-button option-button-small"> Next 20</label>
                        <label id="next-20-all-1st" class="option-button option-button-small"> Next 20</label>
                    </div>
                    <div class="add-to-variable">
                        <input id="variable-name-all" class="option-input-field" type="text" placeholder="Name (e.g. dose unit)"></input>
                        <label id="add-to-variables-all" class="option-button option-button-small">+ Variable</label>
                    </div>
                </div>
            </div> -->

            <div class="option-container">
                <p class="option-headline option-item">
                    Sequence Templates
                    <span class="training-tooltip" title="Templates containing a mix of text and variables, which will be used for data generation.">
                        <i class="far fa-question-circle"></i>
                    </span>
                </p>
                <!-- <label for="config-file-opener" class="option-button option-button-small" id='config-file'>Select A Config File</label>
                <input id="config-file-opener" type="file" accept=".conf" style="display: none;"></input>
                <div></div> -->
                <div class="config-option-items" style="padding-top: 5px;" id="config-option-items-2">
                    <select id="config-entity-2" class="option-dropdown" style="display: none;">
                        <option value = "" selected="selected" disabled="disabled"> Entities </option>
                    </select>
                    <select id="config-feature-2" class="option-dropdown" style="display: none;">
                        <option value = "" selected="selected" disabled="disabled"> Features </option>
                    </select>
                </div>
                <div class="add-conf-to-sequence" style="padding-top: 5px;" id="add-conf-to-sequence">    
                    <label id="add-to-input" class="option-button option-button-small" style="display: none;"> Add Feature to Input</label>
                    <label id="add-to-target" class="option-button option-button-small" style="display: none;"> Add Feature to Target</label>
                </div>
                <div class="option-item">
                    <textarea id="template-input" class="option-input-field" style="resize: vertical;" placeholder="Input sequence (e.g. She is taking ${drug dose} ${dose unit} of ${drug name}.)"></textarea>
                    <textarea id="template-target" class="option-input-field" style="resize: vertical;" placeholder="Target sequence (e.g. dose: ${drug dose}; unit: ${dose unit}; name: ${drug name};)"></textarea>
                </div>
                <div class="option-item">
                    <label id="add-template" class="option-button option-button-small">+ Template</label>
                </div>
                <div id="template-list" class="output-list"></div>
            </div>

            <div class="option-container">
                <p class="option-headline option-item">
                    Quantity
                    <span class="training-tooltip" title="The maximum number of unique sentences that will be generated.">
                        <i class="far fa-question-circle"></i>
                    </span>
                </p>
                <div class="option-item">
                    <input id="range-input" type="range" min="0" max="25000" step="100" value="0">
                    <span id="quantity-range-value" value="">0</span>
                </div>
            </div>

            <div class="completed-option-container" style="margin-bottom: 2.5%;">
                <button id="generate-training-data" class="option-button">
                    Generate Training Data
                </button>
                <a id="export-training-data" class="option-button" style="text-decoration: none; display: none;"></a>
            </div>
        </div>
    </div>
{% endblock %}