# Dependencies
/node_modules
/.pnp
.pnp.js
.pnp.cjs

# Testing
/coverage
/examples

# Build
/build
/dist

# Env
.DS_Store
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea
.vscode
