{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <title>Annotate - Markup</title>
    <link href="{% static 'css/third-party/perfect-scrollbar.css' %}" rel="stylesheet" />
    <link href="{% static 'css/annotate.css' %}" rel="stylesheet" />
    <script src="{% static 'js/third-party/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/annotate.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="config-data" class="item item-1 standard-text unselectable">
            <div id="config-data-options">
                <h4 style="margin-bottom: 3%;">Entities</h4>
                <div id="entities"></div>
                <br>
            
                <h4 style="margin-bottom: 3%;">Attributes</h4>
                <div id="attributes">
                    <span id="empty-attributes">None</span>
                    <div id="attribute-checkboxes"></div>
                    <div id="attribute-dropdowns"></div>
                </div>
                <br>

                <div id="settings">
                    <br>
                    <h4 style="margin-bottom: 3%;">Ontology</h4>
                    <select id="match-list" class="dropdown">
                        <option>No match</option>
                    </select>
                    <br>
                    <input id="ontology-search-input-field" class="input-field" placeholder="Search ontology"/>
                    <br><br><br>

                    <h4 style="margin-bottom: 3%;">Actions</h4>
                    <button id="add-annotation" class="main-button green-button">+ Annotation</button>
                    <a id="save-annotation-file"><button id="add-annotation" class="main-button gray-button">Export</button></a>
                </div>
            </div>
        </div>

        <div id="file-data-container" class="item item-2">
            <div class="navigation-panel unselectable">
                <span id="move-to-first-file" class="nav-item-arrow" style="display: none;"><a><<</a></span>
                <span id="move-to-previous-file" class="nav-item-arrow" style="display: none;"><a><</a></span>
                <span id="switch-file" style="display: none;"><a><select id="switch-file-dropdown" class="dropdown"></select></a></span>
                <span id="move-to-next-file" class="nav-item-arrow" style="display: none;"><a>></a></span>
                <span id="move-to-last-file" class="nav-item-arrow" style="display: none;"><a>>></a></span>
            </div>

            <div id="file-data" class="standard-text"></div>
        </div>

        <div id="annotation-data" class="item item-1 standard-text unselectable">
            <div id="annotation-suggestion-container">
                <div id="annotation-suggestion-quantity" class="annotation collapsible">
                    <span id="annotation-suggestion-quantity-loader">
                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                        <br>
                        <span style="font-weight: bold;">Predicting annotations...</span>
                    </span>
                    <span id="annotation-suggestion-quantity-value"></span>
                </div>
                <div id="annotation-suggestion-list" class="content"></div>
            </div>
        </div>
    </div>
{% endblock %}