@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local('Rubik'), local('Rubik-Regular'), url('third-party/fonts/Rubik-Regular.ttf') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
                   U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122,
                   U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

html {
    --background-primary: #F1F1F1;
    --color-primary: #1A1E24;
}
  
html[data-theme='dark'] {
    --background-primary: #1A1E24;
    --color-primary: #FFF;
}
  
html {
    background: var(--background-primary);
    color: var(--color-primary);
}

nav {
    background-color: var(--background-primary);
    padding: 0 5%;
    height: 10vh;
    user-select: none;
}

.nav-logo {
    float: left;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-primary);
    line-height: 10vh;
}

.nav-item-list {
    list-style-type: none;
    margin-right: 2%;
    font-weight: bold;
    text-transform: uppercase;
}
  
.nav-item {
    float: right;
    text-decoration: none;
    cursor: pointer;
    display: block;
    color: var(--color-primary);
    font-size: 13px;
    line-height: 10vh;
    margin-left: 2%;
}

.nav-item-arrow {
    font-size: 20px;
    color: #33FFB5;
    text-shadow: 0px 1px 1px #1A1E24;
}

.option-button {
    margin-right: 1px;
    min-width: 200px;
    padding: 15px 20px;
    border: none;
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.4);
    background-color: #33FFB5;
    color: black;
    cursor: pointer;
}

.option-button-small {
    color: #1A1E24;
    background-color: lightgray;
    padding: 2px 5px;
    min-width: 150px;
}

.option-button:hover {
    filter: brightness(95%);
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 600px) {
    .option-button {
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    .option-button {
        padding: 12px 18px;
        font-size: 14px;
    }

    .nav-logo {
        display: none;
    }

    .nav-item {
        font-size: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .option-button {
        padding: 10px 16px;
        font-size: 12px;
    }

    .nav-logo {
        display: none;
    }

    .nav-item {
        font-size: 10px;
    }
}

@media only screen and (max-width: 350px) {
    .option-button {
        padding: 8px 14px;
    }

    .nav-logo {
        display: none;
    }

    .nav-item {
        font-size: 10px;
    }
}