* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #1A1E24;
}

nav {
    background-color: #1A1E24;
    padding: 0 5%;
    height: 10vh;
    user-select: none;
}

.nav-logo {
    float: left;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    line-height: 10vh;
}

.nav-logo:hover {
    color: #33FFB5;
    text-shadow: 0 0 2px #33FFB5;
}

.nav-item-list {
    list-style-type: none;
    margin-right: 2%;
    font-weight: bold;
    text-transform: uppercase;
}
  
.nav-item {
    float: right;
    text-decoration: none;
    display: block;
    color: white;
    font-size: 13px;
    line-height: 10vh;
    margin-left: 2%;
}

.nav-item:hover {
    color: #33FFB5 !important;
}

.option-button {
    margin-right: 1px;
    min-width: 200px;
    padding: 15px 20px;
    border: none;
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.4);
    background-color: #33FFB5;
    color: black;
    cursor: pointer;
}

.option-button-small {
    color: #1A1E24;
    background-color: lightgray;
    padding: 2px 5px;
    min-width: 150px;
}

.option-button:hover {
    filter: brightness(95%);
}

@media only screen and (max-width: 600px) {
    .option-button {
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    .option-button {
        padding: 12px 18px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    .option-button {
        padding: 10px 16px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 350px) {
    .option-button {
        padding: 8px 14px;
    }
}

@media only screen and (max-width: 300px) {
    .option-button {
        padding: 8px 18px;
        font-size: 10px;
        display: inline-block;
    }
}