<!DOCTYPE html>
<html lang='en'>

<head>
    {% load staticfiles %}
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Configuration File Creator - Markup</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet" />
    <link href="{% static 'annotate/annotate.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'annotate/favicon.ico' %}" />
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src="{% static 'annotate/complete.js' %}"></script>
</head>

<body style="background-color:#333">
    <nav>
        <div class="nav-wrapper" style="background-color:#333; box-shadow: 0px 0px 8px 0px #111;">
            <a href="/" class="brand-logo" style="margin-left:2%;  font-family: 'Nunito'; font-weight:bold;">markup</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down"
                style="margin-right:2%;  font-family: 'Nunito'; color:#33FFB5; font-weight:bold;">
                <li><a href="#">Getting Started</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a target="_blank" href="https://github.com/samueldobbie/markup">Github</a></li>
                <li><a id="darkMode">Dark Mode</a></li>
            </ul>
        </div>
    </nav>

    <div style="text-align: center; margin-top:15%;">
        <h1>Select desired configuration settings</h1>
        
    </div>
</body>

</html>