::selection {
  background-color: rgb(79, 120, 255);
  color: white;
}

::-moz-selection {
  background-color: rgb(79, 120, 255);
  color: white;
}

.lds-ellipsis div {
  background: var(--background-inverse);
}

#highlighted {
  background-color: rgb(79, 120, 255);
  color: white;
  font-weight: bold;
}

.dropdown {
  padding: 5px;
  border-radius: 3px;
  color: #1A1E24;
  background-color: white;
  outline: none;
  border: none;
  box-shadow: 0px 0.25px #1A1E24;
}

.container {
  display: flex;
}

.item {
  position: relative;
  overflow: scroll;
  max-height: 80vh;
  margin-top: 2.5%;
  padding-top: 0.25%;
  padding-left: 2%;
  padding-right: 2%;
}

.item-1 {
  flex-grow: 1;
}

.item-2 {
  flex-grow: 2;
  max-width: 49.5%;
}

#config-data {
  min-width: 15%;
}

#config-data-options {
  padding-bottom: 10px;
}

#file-data {
  line-height: 1.5em;
  white-space: pre-wrap;
}

#annotation-data {
  min-width: 25%;
  margin-right: 2%;
}

.annotation {
  border-radius: 3px;
  padding: 5px;
  border: none;
  box-shadow: 0px 0.25px #1A1E24;
}

.collapsible {
  margin: 4% 1% 0 1%;
  cursor: pointer;
}

.content {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0 12px;
  margin: 0 1% 4% 1%;
  display: none;
  overflow: hidden;
  color: var(--color-primary);
  background-color: var(--background-secondary);
  border: none;
  box-shadow: 0px 0.25px #1A1E24;
}

#annotation-suggestion-list {
  padding-bottom: 15px;
}

.suggestion-option-container {
  text-align: center;
  padding-bottom: 2%;
}

.section-title {
  margin-top: 4%;
}

.annotation-attribute {
  margin-top: 10px;
}

.config-value-row {
  margin-bottom: 8px;
}

.config-label {
  border-radius: 4px;
  padding: 3px 5px;
  color: #1A1E24;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  border: none;
  box-shadow: 0px 0.25px #1A1E24;
}

.config-label:hover {
  filter: brightness(105%);
}

input[type=radio] {
  display: none;
}

#annotation-suggestions {
  margin-bottom: 25px;
}

.input-field {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  outline: none;
  color: #1A1E24;
  border: none;
  box-shadow: 0px 0.25px #1A1E24;
}

#match-list {
  margin-bottom: 5px;
  width: 168px;
  max-width: 168px;
}

.main-button {
  border-radius: 3px;
  color: #1A1E24;
  padding: 5px;
  margin-top: 5px;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0.25px #1A1E24;
}

.main-button:hover {
  filter: brightness(105%);
}

.suggestion {
  background-color: var(--background-secondary-alt);
}

.suggestion-button {
  font-size: 15px;
  width: 2.5vw;
}

.green-button {
  background-color: #33FFB5;
}

.gray-button {
  background-color: rgb(196, 196, 196);
}

.yellow-button {
  background-color: #ffff6c;
  margin: 5px;
}

.red-button {
  background-color: rgb(255, 108, 108);
}

.annotation-icon {
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  float: right;
}

.annotation-icon:hover {
  filter: brightness(105%);
}

.accept-icon {
  color: rgb(49, 196, 68);
}

.reject-icon {
  color: rgb(255, 117, 117);
}

.delete-icon {
  color: rgb(255, 117, 117);
}

.coming-soon-message {
  text-transform: uppercase;
  margin-top: 15%;
  font-weight: bold;
}

#annotation-suggestion-quantity {
  color: var(--color-primary);
  background-color: var(--background-secondary);
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  font-weight: bold;
}