.root {
  position: relative;
  z-index: 10;
}

.dropdown {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 10;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-width: 0;

  @media (min-width: 48em) {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.burger {
  @media (min-width: 48em) {
    display: none;
  }
}

.navItems {
  @media (max-width: 47.99em) {
    display: none;
  }
}

.navItem {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 700;

  @media (max-width: 47.99em) {
    border-radius: 0;
    padding: var(--mantine-spacing-md);
  }

  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}

.navItemHover:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  color: var(--mantine-color-brand-filled);
}
