.doc-container {
    margin: 2.5% auto;
    width: 50%;
    font-size: 18px;
}

.doc-headline {
    margin-bottom: 2%;
}

.doc-line {
    max-width: 75ch;
    margin: 2%;
    font-size: 16px;
}

.doc-list {
    margin-left: 6%;
}

.doc-link {
    color: #1a241c;
}

.doc-link:hover {
    color: #1a241c;
    background-color: #33FFB5;
}

.doc-example {
    background-color: #eee;
    border: 1px solid #999;
    color: #1A1E24;
    padding: 20px;
}

.doc-example-line {
    font-family: 'Consolas';
}

.doc-field {
    background-color: #33ffb446;
    border-radius: 3px;
    color: #1A1E24;
    box-shadow: 0px 0.25px #1A1E24;
    padding: 0.25px 3px;
}