<!DOCTYPE html>
<html lang='en'>

<head>
    {% load staticfiles %}
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Annotate - Markup</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet" />
    <link href="{% static 'annotate/annotate.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'annotate/favicon.ico' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6/js/select2.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script>
        var dict = {};
        "{% for key, value in dict.items %}"
            dict["{{ key }}"] = `{{ value }}`;
        "{% endfor %}"
    </script>
    <script src="{% static 'annotate/annotate.js' %}"></script>
    <style>
        ::-webkit-input-placeholder {
            font-size:14px;
            font-weight:bold;
        }
        
        :-moz-placeholder {
            font-size:14px;
            font-weight:bold;
        }
        
        ::-moz-placeholder {
            font-size:14px;
            font-weight:bold;
        }
        
        :-ms-input-placeholder {
            font-size:14px;
            font-weight:bold;
        }
    </style>
</head>

<body style="background-color:#333">
    <nav class="navbar navbar-expand">
        <div class="nav-wrapper" style="background-color:#333; box-shadow: 0px 0px 8px 0px #111;">
            <a href="/" class="brand-logo" style="margin-left:2%;  font-family: 'Nunito'; font-weight:bold;">markup</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right:2%;  font-family: 'Nunito'; color:#33FFB5; font-weight:bold;">
                <li><a href="#">Getting Started</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a target="_blank" href="https://github.com/samueldobbie/markup">Github</a></li>
                <li><a id="darkMode">Dark Mode</a></li>
                <li><a id="previousFile" style="font-size:20px; color:#33FFB5;"><</a></li>
                <li><a id="nextFile" style="font-size:20px; color:#33FFB5;">></a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div id="config_data" class="item item-1 standard-text">
            <div id="config_data_options">
                {% for key, value in dict.items %}
                    {% if key != "file_data" and key != "ann_filename" and key != "args" and key != "vals" and key != "events" %}
                        <b>{{ key }}</b>
                        <br>
                        {% if key == "attributes" %}
                            {% for val in value %}
                                <p style="margin:0; padding:0;">
                                    <input type="checkbox" id="{{ val }}" name="{{ key }}" value="{{ val }}">
                                    <label for="{{ val }}">{{ val }}</label>
                                </p>
                            {% endfor %}
                            {% for k, v in dict.items %}
                                {% if k == "vals" %}
                                    {% for dropdown in v %}   
                                        <p style="margin:0; padding:0;">
                                            <input type="text" list="{{ dropdown.1|add:dropdown.0 }}" placeholder="{{ dropdown.1|add:dropdown.0 }}" name="values" class="drop-down" style="padding:2px;"/>
                                            <datalist id="{{ dropdown.1|add:dropdown.0 }}">
                                                {% for option in dropdown|slice:"1:" %}
                                                    <option value="{{ dropdown.1 }}: {{ option }}">
                                                        {{ option }}
                                                    </option>
                                                {% endfor %}
                                            </datalist>
                                            <!--
                                            <select id="{{ dropdown.1|add:dropdown.0 }}" name="values" class="drop-down" style="padding:2px;">
                                                {% for option in dropdown|slice:"1:" %}
                                                    <option value="{{ option }}">
                                                        {{ dropdown.1 }}: {{ option }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                            -->
                                        </p>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for val in value %}
                                <p style="margin:0; padding:0;">
                                    <input type="radio" id="{{ val }}_radio" name="{{ key }}" value="{{ val }}_radio">
                                    <label class="l" for="{{ val }}_radio">{{ val }}</label>
                                </p>
                            {% endfor %}
                        {% endif %}
                        <br>
                    {% endif %}
                {% endfor %}
                
                <b>settings</b>
                <br>
                <select id="matchList" class="drop-down">
                    <option>No match</option>
                </select>
                <select id="searchList" class="drop-down">
                    <option>No match</option>
                </select>
                <br>
                <input id="searchDict" placeholder="Search UMLS" style="padding:2%; border-radius:5px; font-weight:bold; font-size:0.75em; font-family:'Nunito'; outline:0px solid transparent; color:#666; background-color:rgb(235, 235, 235); border:2px solid #999;"/>
                <button id="searchDictBtn" class="btn">Search</button>
                <br>
                <button id="addAnnotation" class="btn">Add Annotation</button>
                <br>
                <button id="autoAnnotate" class="btn">Suggest Annotations</button>
                <br>
                <button id="exportHighlighted" class="btn">Export Annotations</button>
            </div>
        </div>

        <div id="file_data" class="item item-2 standard-text">{{dict.file_data}}</div>

        <div id="annotation_data" class="item item-1 standard-text"></div>
    </div>
</body>

</html>