<!DOCTYPE html>
<html lang='en'>
<head>
    {% load staticfiles %}
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Annotate - Markup</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet"/>
    <link href="{% static 'annotate/annotate.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'annotate/favicon.ico' %}"/>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script>
        var dict = {};
        "{% for key, value in dict.items %}"
            dict["{{ key }}"] = "{{ value }}";
        "{% endfor %}"
    </script>
    <script src="{% static 'annotate/annotate.js' %}"></script>  
</head>
<body>
    <div id='config_data' class="configText">
        {% for key, value in dict.items %}
            {% if key != 'file_data' and key != 'ann_filename' %}
                <b>{{ key }}</b>
                    <br>
                    {% if key == 'attributes' %}
                        {% for val in value %}
                            <input type='checkbox' id="{{ val }}" name='{{ key }}' value='{{ val }}'>
                            <label for="{{ val }}">{{ val }}</label>
                            <br>
                        {% endfor %}
                    {% else %}
                        {% for val in value %}
                            <input type='radio' id="{{ val }}" name='{{ key }}' value='{{ val }}'>
                            <label for="{{ val }}">{{ val }}</label>
                            <br>
                        {% endfor %}
                    {% endif %}
                    <br>
            {% endif %}
        {% endfor %}

        <button id='addAnnotation' class='btn'>Add Annotation</button>
        <button id='deleteAnnotation' class='btn'>Delete Annotation</button>
        <p></p>
        <button id='hideStopwords' style='width: 130px;' class='btn'>Hide Stopwords</button>
        <button id='clearSelections' class='btn'>Clear</button>
        <a href="" id="downloadButton" download="{{ dict.ann_filename }}"><button id='saveAnnotations' class='btn'>Save</button></a>
    </div>

    <div id='file_data' class="fileText">
        {% for line in dict.file_data %}
            {% for word in line.split %}
                <span class='{{ word|lower }}'>
                {{ word }}
                </span>
            {% endfor %}
            <br>
        {% endfor %}
    </div>
</body>
</html>