.root {
  padding-top: 80px;
  padding-bottom: 80px;
}

.label {
  text-align: center;
  font-weight: 900;
  font-size: 220px;
  line-height: 1;
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));

  @media (max-width: 48em) {
    font-size: 120px;
  }
}

.invalidLabel {
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  line-height: 1;
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  text-align: center;
  font-weight: 900;
  font-size: 38px;

  @media (max-width: 48em) {
    font-size: 32px;
  }
}

.invalidTitle {
  font-family: Greycliff CF, var(--mantine-font-family);
  text-align: center;
  font-weight: 900;
  font-size: 20px;
}

.description {
  max-width: 500px;
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
}
